

<mat-toolbar color="primary">
  <h1>Logo</h1>
  <span class="example-spacer"></span>

 
  <button mat-icon-button (click)="redirectToHomePage()">
    <mat-icon inline=true class="example-icon" aria-hidden="false" aria-label="Example delete icon">home</mat-icon>
    </button>


  <button  mat-icon-button (click)="redirectToSignupPage()">
  <mat-icon inline=true class="example-icon" aria-hidden="false" aria-label="Example hea">app_registration</mat-icon>
  </button>

  <button mat-icon-button (click)="redirectToLoginPage()">
  <mat-icon inline=true class="example-icon" aria-hidden="false" aria-label="Example delete icon">login</mat-icon>
  </button>
</mat-toolbar>
