/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~ngx-toastr/toastr.css';
html, body { height: 100%; font-size: 15px;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    box-sizing: border-box;
  }


*,*:focus,*:hover{
  outline:none;
}

